.App {
}
body {
  background-color: #333;
  min-height: 100vh;
}

:root {
  --toastify-toast-width: 360px;
}

body {
}

#renderCanvas {
    width: 100vw;
    max-width: 1920px;
    height: 100vh;
    touch-action: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500;
    pointer-events: none;
}

#settings {
  position: absolute;
  top: 16px;
  left: 16px;
  z-index: 800;
}

#authSettingsBox {
  position: absolute;
  top: 64px;
  right: 0px;
  z-index: 800;
}

#loginPrompt {
  position: absolute;
  top: 16px;
  right: 16px;
  z-index: 800;
}

#loginPrompt img {
    border-radius: 50%;
}
div.avatar {
    border-radius: 50%;
    background-color: green;
    color: white;
    text-align: center;
    font-size: 14pt;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-container {
    display: flex;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
}

.achievements {
  display: flex;
  gap: 6px;
  pointer-events: auto !important;
}

.achievements-scroll {
  width: 360px;
  height: 48px;
  margin-bottom: 16px;
}

.player-tooltip {
  opacity: 1 !important;
  font-size: 20px !important;
  pointer-events: auto !important;
}

.player-tooltip:hover {
  visibility: visible !important;
}

.player-tooltip h1 {
  font-size: 24px;
  margin: 4px 0px;
  display: flex;
}

.player-tooltip h2 {
  font-size: 20px;
  margin: 4px 0px;
}

.player-tooltip p {
  font-size: 16px;
  margin: 0px;
}

.hidden {
  display: none;
}
h6 {
  position: absolute;
  display: flex;
  z-index: 1000;
  font-size: 80pt;
  word-wrap: break-word;
  overflow: hidden;
  width: 100%;
  text-align: center;
  justify-content: center;
  height: 90vh;
  align-items: center;
  margin: 0;
  animation: fadeOutUp 1.5s;
  opacity: 0;
  pointer-events: none;
}

#Doubles {
  color: blue;
}

#Nice {
  color: gold;
}

#Reset {
  color: red;
}

#Victory {
  color: green;
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.Disconnected .Name::before{
  content: "(X) ";
  white-space: pre;
  color: red;
}

.Crown::before {
    content: "👑 ";
    white-space:pre;
    color:gold;
    height: 100%;
}

.connBannerWrapper {
    position: absolute;
    z-index: 20;
    height: 0px;
    display: flex;
    width: 100vw;
    transition: height 500ms ease-out 500ms;
    overflow: hidden;
}
.connBanner {
    width: 100vw;
    opacity: 100;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: #e44c4d;
}

.connBannerOpen {
    transition: height 500ms ease-out;
    height: 30px;
}
.connBannerHidden {
    opacity: 0;
    transition: opacity 250ms linear;
}
